.button {
  height: 50px;
  border-radius: 8px;
  font-weight: 500;
  background: #835afd;
  color: #fff;
  padding: 0 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border: 0;

  transition: filter 0.2s;

  img {
    margin-right: 8px;
  }

  // o efeito de hover será aplicado apenas se o botão não estiver desabilitado,
  // se o botão não estiver disabled quando ele receber o hover ele vai trocar a cor.  

  &:not(:disabled):hover {
    filter: brightness(0.9);
  }

  // quando este botão estiver com a opção 'disabled', vou diminuir a opacidade dele
  // pra 0.6 e também colocarei nele um cursor 'not-allowed', quando o usuário passar o cursor
  // aparecerá a plaquinha 'not allowed'.

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}